<div class="login container">
  <h1>Iniciar sesión</h1>

  <div class="login_content">
    <form
      class="login_form"
      autocomplete="off"
      [formGroup]="loginForm()"
      (ngSubmit)="login()"
    >
      <div class="row">
        <div class="col-12 col-lg-5">
          <label for="email"> Correo <span class="asterisk">*</span> </label>
          <input type="email" formControlName="email" placeholder="su correo" />
          @if (validField('email')) {
          <small class="text-danger"> formato de correo inválido </small>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-5">
          <label class="label_password" for="password">
            <div>Contraseña <span class="asterisk">*</span></div>
            <i class="fa-solid fa-eye" (click)="displayPassword()"></i>
          </label>
          <input
            [type]="passwordType()"
            formControlName="password"
            placeholder="su contraseña"
          />
          @if (validField('password')) {
          <small class="text-danger"> contraseña inválida </small>
          }
        </div>
      </div>

      <button class="btn btn-primary mt-4" type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>
