<div class="main_content">
  <div class="box">
    <div class="d-flex justify-content-between mb-3">
      <h3 class="">Detalle cotización</h3>
      <h4 class="cp" (click)="comeBackToList()">
        <i class="fa-solid fa-angles-left"></i> Regresar
      </h4>
    </div>

    @if (quote()) {
    <div class="d-flex justify-content-between mb-4">
      <div class="d-flex align-items-center">
        <span class="me-3">{{ quote()?.quoteNumber }}</span>
        <span
          [class]="
            detailQuoteService.getStatusBadgeFromQuote(quote()?.status ?? '')
          "
        >
          {{ quote()?.status }}
        </span>
      </div>
      <div class="hstack gap-3">
        <button class="btn btn-outline-secondary">Imprimir PDF</button>
        @if (allowedStatusToBeEditedFromDraft.includes(quote()!.status)) {
        <!-- TODO -->
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-pen-to-square me-2"></i>
          Editar
        </button>
        } @if (allowedStatusToBeAccepted.includes(quote()!.status)) {
        <button
          type="button"
          class="btn btn-primary"
          (click)="detailQuoteService.markAsAccepted(quoteId)"
        >
          Marcar como aceptada
        </button>
        } @if (allowedStatusToBeInvoiced.includes(quote()!.status)) {
        <button class="btn btn-primary">Crear factura</button>
        }
        <div class="dropdown">
          @if (detailQuoteService.isSendEmailFromDetailComponentSubmitting()) {
          <div class="spinner ms-1"></div>
          } @else {
          <i
            class="fa-solid fa-ellipsis-vertical three_points_dropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ></i>
          }
          <ul class="dropdown-menu">
            @if (allowedStatusToBeAccepted.includes(quote()!.status)) {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.markAsAccepted(quoteId)"
              >
                <i class="fa-solid fa-check icon_accepted me-2"></i>
                Marcar como aceptada
              </button>
            </li>
            } @if (allowedStatusToBeSent.includes(quote()!.status)) {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.displayModalQuoteEmail(quote()!)"
              >
                <i class="fa-solid fa-paper-plane icon_sent me-2"></i>
                Enviar
              </button>
            </li>
            } @if (allowedStatusToMarkAsSent.includes(quote()!.status)) {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.markAsSent(quoteId)"
              >
                <i class="fa-solid fa-marker icon_mark_as_sent me-2"></i>
                Marcar como enviada
              </button>
            </li>
            } @if (allowedStatusToUnMarkAsAccepted.includes(quote()!.status)) {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.undoMarkAsAccepted(quoteId)"
              >
                <i class="fa-solid fa-repeat icon_trash me-2"></i>
                Desmarcar como aceptada
              </button>
            </li>
            } @if (allowedStatusToUnMarkAsDeclined.includes(quote()!.status)) {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.undoMarkAsDeclined(quoteId)"
              >
                <i class="fa-solid fa-repeat icon_trash me-2"></i>
                Desmarcar como rechazada
              </button>
            </li>
            } @if (allowedStatusToUnMarkAsInvoiced.includes(quote()!.status)) {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.undoMarkAsInvoiced(quoteId)"
              >
                <i class="fa-solid fa-repeat icon_trash me-2"></i>
                Desmarcar como facturada
              </button>
            </li>
            } @if (allowedStatusToBeDeclined.includes(quote()!.status)) {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.markAsDeclined(quoteId)"
              >
                <i class="fa-solid fa-xmark icon_declined me-2"></i>
                Marcar como rechazada
              </button>
            </li>
            } @if (allowedStatusToBeInvoiced.includes(quote()!.status)) {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.markAsInvoiced(quoteId)"
              >
                <i
                  class="fa-solid fa-file-invoice-dollar icon_accepted me-2"
                ></i>
                Marcar como facturada
              </button>
            </li>
            } @if (allowedStatusToBeEdited.includes(quote()!.status)) {
            <li>
              <button class="dropdown-item" type="button">
                <i class="fa-solid fa-pen-to-square icon_pencil me-2"></i>
                Editar
              </button>
            </li>
            } @if (quote()!.status !== 'removida') {
            <li>
              <button
                class="dropdown-item"
                type="button"
                (click)="detailQuoteService.removeQuote(quote()!)"
              >
                <i class="fa-solid fa-trash icon_trash me-2"></i>
                Remover
              </button>
            </li>
            }
            <li>
              <div class="line_divider mt-3 mb-2"></div>
              <small class="ms-3 fs-4">Acciones</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12 col-md-3 col-lg-2">
        <label>Cliente</label>
        <span>{{ quote()?.client?.name }}</span>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <label>Fecha inicio</label>
        <span>{{ quote()!.initDate | readableDate }}</span>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <label>Fecha expira</label>
        <span>
          {{ quote()!.expireDate ? (quote()!.expireDate | readableDate) : "_" }}
        </span>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <label>Número cotización</label>
        <span>
          {{ quote()!.quoteNumber }}
        </span>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <label>Moneda</label>
        <span>
          {{ quote()!.currency }}
        </span>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <label>Estado</label>
        <span
          [class]="
            detailQuoteService.getStatusBadgeFromQuote(quote()?.status ?? '')
          "
        >
          {{ quote()?.status }}
        </span>
      </div>
    </div>

    <div class="row table_items">
      <table class="table table-sm mb-3">
        <thead>
          <tr>
            <th class="col-2">
              <span>Item</span>
            </th>
            <th class="col-3">
              <span>Descripción</span>
            </th>
            <th class="col-1">
              <span> Cantidad </span>
            </th>
            <th class="col-1">
              <span>Precio</span>
            </th>
            <th class="col-1">
              <span>Descuento</span>
            </th>
            <th class="col-1">
              <span>Cuenta</span>
            </th>
            <th class="col-1">
              <span>Impuesto</span>
            </th>
            <th class="col-1">
              <span>Vendedor</span>
            </th>
            <th class="col-1 text-end">
              <span>Monto</span>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (quoteItem of quote()?.quoteItems; track quoteItem.id) {
          <tr>
            <td>
              <span>{{ quoteItem.item.name }}</span>
            </td>
            <td>
              <span>{{ quoteItem.description }}</span>
            </td>
            <td>
              <span>{{ quoteItem.quantity }}</span>
            </td>
            <td>
              <span>{{ quoteItem.price }}</span>
            </td>
            <td>
              <span>{{ quoteItem.discount }}</span>
            </td>
            <td>
              <span>{{ quoteItem.account }}</span>
            </td>
            <td>
              <span>
                {{
                  detailQuoteService.getTaxRateLabel(quoteItem.taxRate ?? "")
                }}
              </span>
            </td>
            <td>
              <span>{{ quoteItem.seller?.name ?? "_" }}</span>
            </td>
            <td class="text-end">
              <span>{{ quoteItem.amount }}</span>
            </td>
          </tr>
          } @empty {
          <tr class="no-elements">
            <td colspan="12">
              No existen Artículos ni servicios en esta cotización.
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- Totals values -->
    <div class="row mt-4">
      <div class="col-md-6 col-lg-4 offset-md-6 offset-lg-8">
        <ul class="list-group list-group-flush">
          <li class="total_price d-flex justify-content-between">
            <span>Subtotal</span>
            <span>{{ subtotal() | number : "1.2-2" }}</span>
          </li>
          <li class="total_price d-flex justify-content-between">
            <span>Descuento total</span>
            <span class="text-danger">
              - {{ totalDiscount() | number : "1.2-2" }}
            </span>
          </li>
          <li class="total_price d-flex justify-content-between">
            <span>Impuesto total</span>
            <span>{{ totalTax() | number : "1.2-2" }}</span>
          </li>
          <div class="line_divider"></div>
          <li class="total_price d-flex justify-content-between mt-3">
            <span>Total</span>
            <strong>
              {{ totalAmount() | number : "1.2-2" }}
            </strong>
          </li>
        </ul>
      </div>
    </div>
    }
  </div>
</div>

<!-- History tracking changes-->
@if (quote()) {
<tracking-entity [tracking]="quote()!.tracking"></tracking-entity>
}
