<div class="modal_copy_to_quote p-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Copiar cotización a</h3>
    <i class="fa-solid fa-xmark fs-3" (click)="closePopUp()"></i>
  </div>

  <ul class="list-group">
    @for (option of arrCopyToOptions; track option.entity) {
    <li
      class="list-group-item list-group-item-light cp"
      (click)="onSelectOption(option.entity)"
    >
      <div class="d-flex align-items-center">
        <span
          class="circle_check me-2"
          [class.bg_blue]="selectedOption() === option.entity"
        >
          _
        </span>
        <strong class="fs-5 me-2">{{ option.label }}</strong>
        <span class="fs-5">{{ option.text }}</span>
      </div>
    </li>
    }
  </ul>

  <div class="d-flex justify-content-end w_100 gap-3 mt-5">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="closePopUp()"
    >
      Cancelar
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="!this.selectedOption()"
      (click)="executeCopy()"
    >
      Crear borrador
    </button>
  </div>
</div>
