.responsive_btn {
  margin-top: 0.6rem;

  @media (min-width: 768px) {
    margin-top: 1.2rem;
  }
}

// Spinner inside button
.spinner {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--gray);
  border-top-color: var(--success);
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.06rem; /* Add some space between the spinner and the text if needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
