.pagination {
  display: flex;
  justify-content: center;
  width: 100%;

  .pagination_nav {
    display: flex;
    justify-content: space-evenly;

    .square {
      // border-bottom: 0.4rem solid var(--gray);
      cursor: pointer;
      margin-right: 0.3rem;
      padding: 0.1rem 0.4rem;

      @media (min-width: 768px) {
        margin-right: 0.5rem;
        padding: 0.1rem 0.6rem;
      }
    }

    .disabled {
      border-bottom: unset !important;
    }
  }
}

.active_page {
  border-bottom: 0.4rem solid var(--primary_blue) !important;
  color: var(--primary);
}
