<div class="main_content">
  <breadcrumb
    [primaryText]="'Listado de contactos'"
    [primaryLink]="'/list-clients'"
  ></breadcrumb>

  <div class="box">
    <div class="d-flex justify-content-between">
      <h3 class="">Detalle contacto</h3>
      <h4 class="cp" (click)="comeBackToList()">
        <i class="fa-solid fa-angles-left"></i> Regresar
      </h4>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
      <!-- Pills -->
      <ul class="nav nav-pills mb-4 div_pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-info-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-info"
            role="tab"
            aria-controls="pills-info"
            aria-selected="true"
          >
            Información
          </button>
          <button
            class="nav-link"
            id="pills-address-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-address"
            role="tab"
            aria-controls="pills-address"
            aria-selected="false"
          >
            Direcciones
          </button>
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-contact"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
          >
            Personas
          </button>
        </li>
      </ul>
      <!-- End Pills -->

      <div class="hstack gap-3">
        <a
          role="button"
          class="btn btn-secondary"
          title="Agregar contacto"
          (click)="addNewContact()"
          data-bs-toggle="contactModal"
          data-bs-target="#contactModal"
        >
          <i class="fa-solid fa-address-book"></i> Agregar persona
        </a>
        <a
          role="button"
          class="btn btn-warning"
          title="Agregar dirección"
          (click)="addNewAddress()"
          data-bs-toggle="addressModal"
          data-bs-target="#addressModal"
        >
          <i class="fa-solid fa-location-dot"></i> Agregar dirección
        </a>
        <a
          role="button"
          class="btn btn-success btn_detail"
          [routerLink]="'/edit-client/' + clientId"
          title="Actualizar"
        >
          <i class="fa-solid fa-pen-to-square action_icon_edit"></i>
          Editar
        </a>
        <!-- <a
          role="button"
          class="btn btn-danger btn_detail"
          (click)="dataUserService.inactivateUser(this.client()!)"
          title="Remover"
          data-toggle="tooltip"
          data-original-title="Delete"
        >
          <i class="fa-solid fa-trash-can action_icon_trash"></i>
          <span> Desactivar</span>
        </a> -->
      </div>
    </div>

    <!-- Data Pills -->
    <div class="tab-content" id="pills-tabContent">
      <!-- Info Employee -->
      <div
        class="tab-pane fade active show"
        id="pills-info"
        role="tabpanel"
        aria-labelledby="pills-info-tab"
        tabindex="0"
      >
        @if (client()) {
        <div class="row mt-3">
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Nombre</label>
            <span>{{ client()!.name }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Tipo</label>
            <span
              [class]="
                listClientsService.getClientContactTypeBadge(client()!.type)
              "
            >
              {{ client()!.type }}
            </span>
          </div>
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Cédula</label>
            <span>{{ client()!.identity }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Tipo cédula</label>
            <span>
              {{ listClientsService.getIdentityType(client()!.identityType) }}
            </span>
          </div>
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Teléfono</label>
            <span>{{ client()!.mobile }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Moneda </label>
            <span>{{ client()!.currency }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Correo electrónico </label>
            <span>{{ client()!.email }}</span>
          </div>
          @if (client()?.notes) {
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Notas </label>
            <span>{{ client()!.notes }}</span>
          </div>
          } @if (client()?.defaultSeller) {
          <div class="col-12 col-md-4 col-lg-3 mb-3">
            <label>Vendedor/a </label>
            <span>{{ client()!.defaultSeller }}</span>
          </div>
          }
        </div>
        }
      </div>
      <!-- End Info Employee -->

      <!-- Addresses -->
      <div
        class="tab-pane fade"
        id="pills-address"
        role="tabpanel"
        aria-labelledby="pills-address-tab"
        tabindex="0"
      >
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"><i class="fa-solid fa-location-dot"></i></th>
              <th scope="col">Provincia</th>
              <th scope="col">Canton</th>
              <th scope="col">Distrito</th>
              <th scope="col">Dirección exacta</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (address of client()?.addresses || []; track $index) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ address.provinceName }}</td>
              <td>{{ address.cantonName }}</td>
              <td>{{ address.districtName }}</td>
              <td>{{ address.exactAddress ? address.exactAddress : "_" }}</td>
              <td>
                <div (click)="removeAddress(address.id)">
                  <i class="fa-solid fa-trash icon_trash" title="Eliminar"></i>
                </div>
              </td>
            </tr>
            } @empty {
            <tr>
              <div class="d-flex justify-content-start">
                <div class="alert alert-warning">
                  Sin direcciones por el momento.
                </div>
              </div>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- END Addresses -->
      <!-- Contacts -->
      <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
        tabindex="0"
      >
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"><i class="fa-solid fa-location-dot"></i></th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Correo</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (contact of client()?.contacts || []; track $index) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ contact.name }}</td>
              <td>{{ contact.lastName ?? "_" }}</td>
              <td>{{ contact.email ?? "_" }}</td>
              <td>{{ contact.mobile ?? "_" }}</td>
              <td>
                <div (click)="removeContact(contact.id)">
                  <i class="fa-solid fa-trash icon_trash" title="Eliminar"></i>
                </div>
              </td>
            </tr>
            } @empty {
            <tr>
              <div class="d-flex justify-content-start">
                <div class="alert alert-warning">
                  Sin personas secundarias por el momento.
                </div>
              </div>
            </tr>
            }
          </tbody>
        </table>
        <!-- END Contacts -->
      </div>

      <!-- History -->
      <!-- End Data Pills -->
    </div>
  </div>
</div>

<!-- History tracking changes-->
@if (client()) {
<tracking-entity [tracking]="client()!.tracking"></tracking-entity>
}
