.square {
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  height: 100%;
  width: 100%;
}

.btn_close {
  cursor: pointer;
  color: var(--primary);
  font-size: 2.2rem;
}

.info {
  display: flex;
  justify-content: flex-start;
}

.info_content {
  .message {
    margin-top: 0.8rem;

    .message_text {
      font-size: 1.7rem;
    }
  }

  .buttons {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
  }
}
