.toast_square {
  border-radius: 0.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  opacity: 0.85;
  transform: translateY(-20px); // Start slightly above
  animation: slideDown 0.4s ease-out forwards; // Apply animation

  .toast_square_text {
    color: var(--white);
    font-size: 1.5rem;
    max-width: 32rem;
  }
  .toast_square_remove {
    cursor: pointer;
    font-weight: 900;
    border-radius: 50%;
    background-color: var(--white);
    padding: 0.1rem 0.5rem;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px); // Start slightly above
  }
  to {
    opacity: 1;
    transform: translateY(0); // Normal position
  }
}
