@if (data()) {
<div class="square">
  <div class="d-flex justify-content-between align-items-start">
    <h3>Enviar cotización</h3>
    <i
      (click)="closePopUp('cancel')"
      class="fa-solid fa-circle-xmark btn_close"
    >
    </i>
  </div>
  <form [formGroup]="newSendQuoteEmailForm()" class="form">
    <label for="email">Bandeja <span class="asterisk">*</span></label>
    <input
      type="email"
      formControlName="email"
      placeholder="agregar correo bandeja"
    />
    <div class="form_email_list">
      @for (email of emails(); track $index) {
      <div class="form_email_list_badge">
        <span>
          {{ email }}
          <i class="fa-solid fa-xmark" (click)="removeEmail($index)"></i
        ></span>
      </div>
      }
    </div>
    <button class="btn btn-outline-primary mt-2" (click)="addEmail()">
      + Agregar email
    </button>

    <label for="subject" class="mt-4">Encabezado</label>
    <input type="text" formControlName="subject" placeholder="encabezado" />

    <label for="message" class="mt-4">Mensaje</label>
    <textarea
      formControlName="message"
      rows="12"
      placeholder="mensaje"
    ></textarea>
    <div class="hstack gap-3 buttons">
      <button (click)="closePopUp('cancel')" class="btn btn-light">
        Cancelar
      </button>
      <submit-button
        (btnWasClicked)="closePopUp($event)"
        [isFormSubmitting]="isFormSubmitting()"
        [buttonAction]="formQuoteService.sendAction"
        primaryText="Enviar"
        secondaryText="Enviando"
      ></submit-button>
    </div>
  </form>
</div>
}
