.div_collapse_btn {
  position: relative;
}

.div_collapse {
  width: 100%;
}

.div_btn {
  position: absolute;
  top: -0.2rem;
  right: 1rem;
}

.tracking_info {
  font-size: 1.2rem;
}

.line_row_tracking {
  background-color: var(--light);
  height: 0.08rem;
  width: 100%;
}

.row_tracking {
  padding: 0.6rem 0rem;
}
