<div class="main">
  <aside class="main_menu" [class.main_menu_open]="isMenuOpen()">
    <h3 class="main_menu_title">MENU</h3>
    <nav class="main_menu_list">
      <a class="main_menu_list_link" routerLink="/" routerLinkActive="active">
        <i class="fa-brands fa-slack me-2"></i>
        <span>Dashboard</span>
      </a>
      <a
        class="main_menu_list_link"
        routerLink="/list-employees"
        routerLinkActive="active"
      >
        <i class="fa-brands fa-slack me-2"></i>
        <span>Empleados</span>
      </a>
      <a
        class="main_menu_list_link"
        routerLink="/list-clients"
        routerLinkActive="active"
      >
        <i class="fa-brands fa-slack me-2"></i>
        <span>Clientes</span>
      </a>
      <a
        class="main_menu_list_link"
        routerLink="/list-items"
        routerLinkActive="active"
      >
        <i class="fa-brands fa-slack me-2"></i>
        <span>Items</span>
      </a>
    </nav>
  </aside>

  <div class="main_content" [class.main_content_margin_left]="isMenuOpen()">
    <header class="main_content_header">
      <div (click)="openCloseMenu()">
        <i class="fa-solid fa-bars fs-1 me-3"></i>
      </div>
      <h2 class="main_content_header_title">Map Zero</h2>
      <span class="main_content_spacer"></span>
      <!-- Authenticated User -->
      <current-user></current-user>
      <!-- End Authenticated User -->
    </header>

    <!-- SYSTEM -->
    <main class="content">
      <custom-toast></custom-toast>
      <router-outlet></router-outlet>
    </main>

    <div class="main_content_spacer"></div>

    <!-- <footer class="footer box">
      <p>&copy; 2025 Map Soluciones</p>
    </footer> -->
  </div>
</div>
