<div class="main_content">
  <breadcrumb
    [primaryText]="'Listado de items'"
    [primaryLink]="'/list-items'"
  ></breadcrumb>

  <div class="box">
    <div class="d-flex justify-content-between">
      <h3 class="">Detalle item</h3>
      <h4 class="cp" (click)="comeBackToList()">
        <i class="fa-solid fa-angles-left"></i> Regresar
      </h4>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
      <!-- Pills -->
      <ul class="nav nav-pills mb-4 div_pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-info-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-info"
            role="tab"
            aria-controls="pills-info"
            aria-selected="true"
          >
            Información
          </button>
          <!-- <button
            class="nav-link"
            id="pills-cabys-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-cabys"
            role="tab"
            aria-controls="pills-cabys"
            aria-selected="false"
          >
            Cabys
          </button> -->
        </li>
      </ul>
      <!-- End Pills -->

      <div class="hstack gap-3">
        <a
          role="button"
          class="btn btn-success btn_detail"
          [routerLink]="'/edit-item/' + itemId"
          title="Actualizar"
        >
          <i class="fa-solid fa-pen-to-square action_icon_edit"></i>
          Editar
        </a>
        <!-- <a
          role="button"
          class="btn btn-danger btn_detail"
          (click)="dataUserService.inactivateUser(this.client()!)"
          title="Remover"
          data-toggle="tooltip"
          data-original-title="Delete"
        >
          <i class="fa-solid fa-trash-can action_icon_trash"></i>
          <span> Desactivar</span>
        </a> -->
      </div>
    </div>

    <!-- Data Pills -->
    <div class="tab-content" id="pills-tabContent">
      <!-- Info Employee -->
      <div
        class="tab-pane fade active show"
        id="pills-info"
        role="tabpanel"
        aria-labelledby="pills-info-tab"
        tabindex="0"
      >
        @if (item()) {
        <div class="row mt-3">
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Nombre </label>
            <span>{{ item()!.name }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Código cabys </label>
            <span>{{ item()!.cabys.code }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Impuesto de cabys (%) </label>
            <span>{{ item()!.cabys.tax }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <strong>Compra</strong>
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Costo </label>
            <span>{{ item()!.costPrice ?? "_" }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Cuenta de compra </label>
            <span>{{ item()!.purchaseAccount?.name ?? "_" }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Impuesto de compra </label>
            <span>
              {{
                item()!.purchaseTaxRate
                  ? listItemsService.getTaxRateLabel(item()!.purchaseTaxRate!)
                  : "_"
              }}
            </span>
          </div>
          <div class="col-12 mb-3">
            <label>Descripción</label>
            <span>{{ item()?.purchaseDescription ?? "_" }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <strong>Venta</strong>
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Venta </label>
            <span>{{ item()!.salePrice ?? "_" }}</span>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Cuenta de venta </label>
            <span>
              {{ `${item()!.saleAccount?.code ?? ''} - ${item()!.saleAccount?.name ?? ''}` }}
            </span>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mb-3">
            <label>Impuesto de venta </label>
            <span>{{
              item()!.saleTaxRate
                ? listItemsService.getTaxRateLabel(item()!.saleTaxRate!)
                : "_"
            }}</span>
          </div>
          <div class="col-12 mb-3">
            <label>Descripción</label>
            <span>{{ item()?.saleDescription ?? "_" }}</span>
          </div>
        </div>
        }
      </div>
      <!-- End Info -->

      <!-- End Data Pills -->
    </div>
  </div>
</div>

<!-- History tracking changes-->
@if (item()) {
<tracking-entity
  [tracking]="item()!.tracking"
  [entity]="entityData()!"
></tracking-entity>
}
