<div class="main_content">
  <div class="box">
    <div class="d-flex justify-content-between">
      <h3 class="">Detalle item</h3>
      <h4 class="cp" (click)="comeBackToList()">
        <i class="fa-solid fa-angles-left"></i> Regresar
      </h4>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
      <!-- Pills -->
      <ul class="nav nav-pills mb-4 div_pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-info-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-info"
            role="tab"
            aria-controls="pills-info"
            aria-selected="true"
          >
            Información
          </button>
          <button
            class="nav-link"
            id="pills-cabys-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-cabys"
            role="tab"
            aria-controls="pills-cabys"
            aria-selected="false"
          >
            Cabys
          </button>
        </li>
      </ul>
      <!-- End Pills -->

      <div class="hstack gap-3">
        <a
          role="button"
          class="btn btn-success btn_detail"
          [routerLink]="'/edit-item/' + itemId"
          title="Actualizar"
        >
          <i class="fa-solid fa-pen-to-square action_icon_edit"></i>
          Editar
        </a>
        <!-- <a
          role="button"
          class="btn btn-danger btn_detail"
          (click)="dataUserService.inactivateUser(this.client()!)"
          title="Remover"
          data-toggle="tooltip"
          data-original-title="Delete"
        >
          <i class="fa-solid fa-trash-can action_icon_trash"></i>
          <span> Desactivar</span>
        </a> -->
      </div>
    </div>

    <!-- Data Pills -->
    <div class="tab-content" id="pills-tabContent">
      <!-- Info Employee -->
      <div
        class="tab-pane fade active show"
        id="pills-info"
        role="tabpanel"
        aria-labelledby="pills-info-tab"
        tabindex="0"
      >
        @if (item()) {
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary">
            <span class="fw-bold">Nombre </span>
            <span class="ms-4">{{ item()!.name }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Coste </span>
            <span class="ms-4">{{ item()!.costPrice ?? "_" }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Cuenta de compra </span>
            <span class="ms-4">{{ item()!.purchaseAccount?.name ?? "_" }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Impuesto de compra </span>
            <span class="ms-4">
              {{
                item()!.purchaseTaxRate
                  ? listItemsService.getTaxRateLabel(item()!.purchaseTaxRate!)
                  : "_"
              }}
            </span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Precio venta </span>
            <span class="ms-4">{{ item()!.salePrice ?? "_" }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Cuenta de venta </span>
            <span class="ms-4">
              {{ `${item()!.saleAccount?.code ?? ''} - ${item()!.saleAccount?.name ?? ''}` }}
            </span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Impuesto venta </span>
            <span class="ms-4">{{
              item()!.saleTaxRate
                ? listItemsService.getTaxRateLabel(item()!.saleTaxRate!)
                : "_"
            }}</span>
          </li>
        </ul>
        }
      </div>
      <!-- End Info -->

      <!-- Cabys details-->
      <div
        class="tab-pane fade"
        id="pills-cabys"
        role="tabpanel"
        aria-labelledby="pills-cabys-tab"
        tabindex="0"
      >
        @if (item()) {
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary">
            <span class="fw-bold">Código </span>
            <span class="ms-4">{{ item()!.cabys.code }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">IVA </span>
            <span class="ms-4">{{ item()!.cabys.tax }}%</span>
          </li>
        </ul>
        }
      </div>
      <!-- Cabys details -->

      <!-- End Data Pills -->
    </div>
  </div>
</div>

<!-- History tracking changes-->
@if (item()) {
<tracking-entity [tracking]="item()!.tracking"></tracking-entity>
}
