<div class="main_content">
  <div class="box">
    <div class="d-flex justify-content-between">
      <h3 class="">Detalle cliente</h3>
      <h4 class="cp" (click)="comeBackToList()">
        <i class="fa-solid fa-angles-left"></i> Regresar
      </h4>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <!-- Pills -->
      <ul class="nav nav-pills mb-4 div_pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-info-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-info"
            role="tab"
            aria-controls="pills-info"
            aria-selected="true"
          >
            Información
          </button>
          <button
            class="nav-link"
            id="pills-address-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-address"
            role="tab"
            aria-controls="pills-address"
            aria-selected="false"
          >
            Direcciones
          </button>
        </li>
      </ul>
      <!-- End Pills -->

      <div class="hstack gap-3">
        <a
          role="button"
          class="btn btn-warning"
          title="Agregar dirección"
          (click)="addNewAddress()"
          data-bs-toggle="addressModal"
          data-bs-target="#addressModal"
        >
          <i class="fa-solid fa-location-dot"></i> Agregar dirección
        </a>
        <a
          role="button"
          class="btn btn-success btn_detail"
          [routerLink]="'/edit-client/' + clientId"
          title="Actualizar"
        >
          <i class="fa-solid fa-pen-to-square action_icon_edit"></i>
          Editar
        </a>
        <!-- <a
          role="button"
          class="btn btn-danger btn_detail"
          (click)="dataUserService.inactivateUser(this.client()!)"
          title="Remover"
          data-toggle="tooltip"
          data-original-title="Delete"
        >
          <i class="fa-solid fa-trash-can action_icon_trash"></i>
          <span> Desactivar</span>
        </a> -->
      </div>
    </div>

    <!-- Data Pills -->
    <div class="tab-content" id="pills-tabContent">
      <!-- Info Employee -->
      <div
        class="tab-pane fade active show"
        id="pills-info"
        role="tabpanel"
        aria-labelledby="pills-info-tab"
        tabindex="0"
      >
        @if (client()) {
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary">
            <span class="fw-bold">Nombre </span>
            <span class="ms-4">{{ client()!.name }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Cédula </span>
            <span class="ms-4">{{ client()!.identity }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Tipo cédula </span>
            <span class="ms-4">{{
              listClientsService.getIdentityType(client()!.identityType)
            }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Teléfono </span>
            <span class="ms-4">{{ client()!.mobile }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Correo electrónico </span>
            <span class="ms-4">{{ client()!.email }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Moneda </span>
            <span class="ms-4">{{ client()!.currency }}</span>
          </li>
          @if (client()!.notes) {
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Notas </span>
            <span class="ms-4">{{ client()!.notes }}</span>
          </li>
          } @if (client()?.defaultSeller) {
          <li class="list-group-item list-group-item-light">
            <span class="fw-bold">Vendedor/a </span>
            <span class="ms-4">{{ client()!.defaultSeller }}</span>
          </li>
          }
        </ul>
        }
      </div>
      <!-- End Info Employee -->

      <!-- Addresses -->
      <div
        class="tab-pane fade"
        id="pills-address"
        role="tabpanel"
        aria-labelledby="pills-address-tab"
        tabindex="0"
      >
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"><i class="fa-solid fa-location-dot"></i></th>
              <th scope="col">Provincia</th>
              <th scope="col">Canton</th>
              <th scope="col">Distrito</th>
              <th scope="col">Dirección exacta</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (address of client()?.addresses || []; track $index) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ address.provinceName }}</td>
              <td>{{ address.cantonName }}</td>
              <td>{{ address.districtName }}</td>
              <td>{{ address.exactAddress ? address.exactAddress : "_" }}</td>
              <td>
                <div (click)="removeAddress(address.id)">
                  <i class="fa-solid fa-trash icon_trash" title="Eliminar"></i>
                </div>
              </td>
            </tr>
            } @empty {
            <tr>
              <div class="d-flex justify-content-start">
                <div class="alert alert-warning">
                  Sin direcciones por el momento.
                </div>
              </div>
            </tr>
            }
          </tbody>
        </table>
        <!-- END Addresses -->
      </div>
      <!-- End Data Pills -->
    </div>
  </div>
</div>
