<div class="main_content">
  <div class="box">
    <div class="d-flex justify-content-between mb-4">
      <h3 class="">Editar item</h3>
      <h4 class="cp" (click)="comeBackToList()">
        <i class="fa-solid fa-angles-left"></i> Regresar
      </h4>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <!-- Pills -->
      <ul class="nav nav-pills mb-4 div_pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-fields-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-fields"
            role="tab"
            aria-controls="pills-fields"
            aria-selected="true"
          >
            Formulario
          </button>
          <button
            class="nav-link"
            id="pills-cabys-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-cabys"
            role="tab"
            aria-controls="pills-cabys"
            aria-selected="false"
          >
            Código cabys
          </button>
        </li>
      </ul>
      <!-- End Pills -->
    </div>

    <!-- Data Pills -->
    <div class="tab-content" id="pills-tabContent">
      <!-- Fields -->
      <div
        class="tab-pane fade active show"
        id="pills-fields"
        role="tabpanel"
        aria-labelledby="pills-fields-tab"
        tabindex="0"
      >
        @if (editItemForm()) {
        <form
          class="form"
          [formGroup]="editItemForm()!"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="name">Nombre <span class="asterisk">*</span></label>
              <input type="text" formControlName="name" />
              @if (validField('name')) {
              <small class="text-danger">
                nombre debe tener más de 2 caracteres
              </small>
              }
            </div>
          </div>

          <!-- Purchase fields -->
          <h2 class="mt-5">Compra</h2>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="costPrice">
                Precio coste <span class="asterisk">*</span>
              </label>
              <input type="number" min="0" formControlName="costPrice" />
              @if (validField('costPrice')) {
              <small class="text-danger"> precio de coste es requerido </small>
              }
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="purchaseAccount">
                Registro compra <span class="asterisk">*</span>
              </label>
              <select formControlName="purchaseAccount">
                <option value="300">300 - Costo de Ventas Mercaderías</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="purchaseTaxRate">
                Impuesto <span class="asterisk">*</span>
              </label>
              <select formControlName="purchaseTaxRate">
                <option value="01">
                  Tarifa 0% (Artículo 32, num 1, RLIVA)
                </option>
                <option value="02">Tarifa reducida 1%</option>
                <option value="03">Tarifa reducida 2%</option>
                <option value="04">Tarifa reducida 4%</option>
                <option value="05">Transitorio 0%</option>
                <option value="06">Transitorio 4%</option>
                <option value="07">Tarifa transitoria 8%</option>
                <option value="08">Tarifa general 13%</option>
                <option value="09">Tarifa reducida 0.5%</option>
                <option value="10">Tarifa Exenta</option>
                <option value="11">Tarifa 0% sin derecho a crédito</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="purchaseDescription">
                Descripción compra <span class="muted">opcional</span>
              </label>
              <textarea
                formControlName="purchaseDescription"
                rows="1"
              ></textarea>
            </div>
          </div>

          <!-- Sale fields -->
          <h2 class="mt-5">Venta</h2>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="salePrice">
                Precio venta <span class="asterisk">*</span>
              </label>
              <input type="number" min="0" formControlName="salePrice" />
              @if (validField('salePrice')) {
              <small class="text-danger"> precio de venta es requerido </small>
              }
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="saleAccount">
                Registro venta <span class="asterisk">*</span>
              </label>
              <select formControlName="saleAccount">
                <option value="200">200 - 523601 Ventas de Mercaderías</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="saleTaxRate">
                Impuesto <span class="asterisk">*</span>
              </label>
              <select formControlName="saleTaxRate">
                <option value="01">
                  Tarifa 0% (Artículo 32, num 1, RLIVA)
                </option>
                <option value="02">Tarifa reducida 1%</option>
                <option value="03">Tarifa reducida 2%</option>
                <option value="04">Tarifa reducida 4%</option>
                <option value="05">Transitorio 0%</option>
                <option value="06">Transitorio 4%</option>
                <option value="07">Tarifa transitoria 8%</option>
                <option value="08">Tarifa general 13%</option>
                <option value="09">Tarifa reducida 0.5%</option>
                <option value="10">Tarifa Exenta</option>
                <option value="11">Tarifa 0% sin derecho a crédito</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="saleDescription">
                Descripción venta <span class="muted">opcional</span>
              </label>
              <textarea formControlName="saleDescription" rows="1"></textarea>
            </div>
          </div>

          <div
            class="d-flex flex-column justify-content-center align-items-center mt-5"
          >
            <button class="btn btn-success" type="submit">Editar</button>
          </div>
        </form>
        }
      </div>

      <!-- Cabys -->
      <div
        class="tab-pane fade"
        id="pills-cabys"
        role="tabpanel"
        aria-labelledby="pills-cabys-tab"
        tabindex="0"
      >
        @if (item()) {
        <cabys-select
          (cabysChange)="onCabysChange($event)"
          [cabysInput]="item()!.cabys.code"
        ></cabys-select>
        }
      </div>
    </div>
  </div>
</div>
