<div class="main_content">
  <div class="box">
    <div class="d-flex justify-content-between mb-4">
      <h3 class="">Nuevo item</h3>
      <h4 class="cp" (click)="comeBackToList()">
        <i class="fa-solid fa-angles-left"></i> Regresar
      </h4>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <!-- Pills -->
      <ul class="nav nav-pills mb-4 div_pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-fields-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-fields"
            role="tab"
            aria-controls="pills-fields"
            aria-selected="true"
          >
            Formulario
          </button>
          <button
            class="nav-link"
            id="pills-cabys-tab"
            data-bs-toggle="pill"
            type="button"
            data-bs-target="#pills-cabys"
            role="tab"
            aria-controls="pills-cabys"
            aria-selected="false"
          >
            Código cabys
          </button>
        </li>
      </ul>
      <!-- End Pills -->
    </div>

    <!-- Data Pills -->
    <div class="tab-content" id="pills-tabContent">
      <!-- Fields -->
      <div
        class="tab-pane fade active show"
        id="pills-fields"
        role="tabpanel"
        aria-labelledby="pills-fields-tab"
        tabindex="0"
      >
        <form class="form" [formGroup]="newItemForm()" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="name">Nombre <span class="asterisk">*</span></label>
              <input type="text" formControlName="name" />
              @if (validField('name')) {
              <small class="text-danger">
                nombre debe tener más de 2 caracteres
              </small>
              }
            </div>
          </div>

          <!-- Purchase fields -->
          <h2 class="mt-5">Compra</h2>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="costPrice">
                Coste <span class="muted">opcional</span>
              </label>
              <input type="number" min="0" formControlName="costPrice" />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="purchaseAccountId">
                Cuenta de compra <span class="muted">opcional</span>
              </label>
              <select formControlName="purchaseAccountId">
                <option value="">--Seleccione--</option>
                @for (account of accounts(); track account.id) {
                <option [value]="account.id">
                  {{`${account.code} - ${account.name}`}}
                </option>
                }
              </select>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="purchaseTaxRate">
                Impuesto <span class="muted">opcional</span>
              </label>
              <select formControlName="purchaseTaxRate">
                <option value="">--Seleccione--</option>
                @for (tax of taxesArray; track $index) {
                <option [value]="tax.code">
                  {{`${tax.code} - ${tax.label}`}}
                </option>
                }
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-between">
                <label for="purchaseDescription">
                  Descripción compra <span class="muted">opcional</span>
                </label>
                <custom-checkbox
                  [affirmativeLabel]="'Propagar'"
                  [negativeLabel]="'Detener'"
                  [checkboxDefaultValue]="true"
                  (checkboxEmitter)="onDescriptionPropagationToggle($event)"
                ></custom-checkbox>
              </div>
              <textarea
                formControlName="purchaseDescription"
                rows="1"
              ></textarea>
            </div>
          </div>

          <!-- Sale fields -->
          <h2 class="mt-5">Venta</h2>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="salePrice">
                Precio venta <span class="muted">opcional</span>
              </label>
              <input type="number" min="0" formControlName="salePrice" />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="saleAccountId">
                Cuenta de venta <span class="muted">opcional</span>
              </label>
              <select formControlName="saleAccountId">
                <option value="">--Seleccione--</option>
                @for (account of accounts(); track account.id) {
                <option [value]="account.id">
                  {{`${account.code} - ${account.name}`}}
                </option>
                }
              </select>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <label for="saleTaxRate">
                Impuesto <span class="muted">opcional</span>
              </label>
              <select formControlName="saleTaxRate">
                <option value="">--Seleccione--</option>
                @for (tax of taxesArray; track $index) {
                <option [value]="tax.code">
                  {{`${tax.code} - ${tax.label}`}}
                </option>
                }
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="saleDescription">
                Descripción venta <span class="muted">opcional</span>
              </label>
              <textarea formControlName="saleDescription" rows="1"></textarea>
            </div>
          </div>

          <div
            class="d-flex flex-column justify-content-center align-items-center mt-5"
          >
            <button class="btn btn-success" type="submit">Guardar</button>
          </div>
        </form>
      </div>

      <!-- Cabys -->
      <div
        class="tab-pane fade"
        id="pills-cabys"
        role="tabpanel"
        aria-labelledby="pills-cabys-tab"
        tabindex="0"
      >
        <cabys-select (cabysChange)="onCabysChange($event)"></cabys-select>
      </div>
    </div>
  </div>
</div>
