// Mixins
@mixin grid($columns, $space) {
  display: grid;
  gap: $space;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin borderHeading($colorText, $colorLine) {
  color: $colorText;
  font-size: 2.4rem;
  margin-top: 4rem;
  // IMPORTANT: this property cut the line to the width of the h2 text
  display: inline-block;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  // IMPORTANT: the line below the h2 text
  &::after {
    display: block;
    content: "";
    background-color: $colorLine;
    height: 0.8rem;
    margin: -1.4rem 0 0 0;
    width: calc(100% + 1rem);
  }
}

@mixin bgIcon($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  // IMPORTANT: this position property the first value is horizontally and the second value is vertically
  background-position: 50% 2rem;
  background-size: 10rem;
}
// End Mixins
