<div class="main_content">
  <div class="box">
    <div class="d-flex justify-content-between">
      <h3 class="">Nueva cotización</h3>
      <h4 class="go_back" (click)="comeBackToList()">
        <i class="fa-solid fa-angles-left"></i> Regresar
      </h4>
    </div>

    <form class="form" [formGroup]="newQuoteForm">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          <label for="defaultSeller">
            Cliente <span class="asterisk">*</span>
          </label>
          <ng-select
            [items]="clients()"
            bindLabel="name"
            placeholder="--Seleccione--"
            formControlName="client"
            [searchable]="true"
          >
          </ng-select>
          @if (validField('clientId')) {
          <small class="text-danger"> cliente es requerido </small>
          }
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <label class="w_100" for="initDate">
            Fecha inicio
            <span class="asterisk">*</span>
          </label>
          <input type="date" formControlName="initDate" />
          @if (validField('initDate')) {
          <small class="text-danger"> fecha inicio es requerida </small>
          }
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <label class="w_100" for="expireDate">
            Fecha expira
            <span class="muted">opcional</span>
          </label>
          <quick-date-picker
            (dateChanged)="onExpireDateChange($event)"
          ></quick-date-picker>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <label class="w_100" for="expireDate">
            Moneda
            <span class="asterisk">*</span>
          </label>
          <select formControlName="currency">
            <option value="USD">USD</option>
          </select>
        </div>
      </div>

      <!-- Quote Items as Rows -->
      <table class="table table-sm mb-3 mt-5">
        <thead>
          <tr>
            <th class="col-2">
              <label>Item</label>
            </th>
            <th class="col-2">
              <label>Descripción</label>
            </th>
            <th class="col-1">
              <label> Cantidad </label>
            </th>
            <th class="col-1">
              <label>Precio</label>
            </th>
            <th class="col-1">
              <label>Descuento</label>
            </th>
            <th class="col-1">
              <label>Cuenta</label>
            </th>
            <th class="col-1">
              <label>Impuesto</label>
            </th>
            <th class="col-1">
              <label>Vendedor</label>
            </th>
            <th class="col-1"></th>
          </tr>
        </thead>
        <tbody formArrayName="quoteItems">
          <!-- @for (item of quoteItems.controls; let i = $index) { -->
          <tr
            *ngFor="let item of quoteItems.controls; let i = index"
            [formGroupName]="i"
            [id]="'row_' + i"
          >
            <td>
              <!-- <custom-select formControlName="itemId" (itemSelected)="onItemSelectedInRow($event, i)"></custom-select> -->
              <ng-select
                [items]="items()"
                bindLabel="name"
                bindValue="id"
                formControlName="itemId"
                [searchable]="true"
              >
              </ng-select>
              @if (validField('itemId')) {
              <small class="text-danger"> item es requerido </small>
              }
            </td>
            <td>
              <textarea formControlName="description" rows="1"></textarea>
              <!-- <input type="text" formControlName="description" /> -->
            </td>
            <td>
              <input type="number" formControlName="quantity" />
              @if (validField('quantity')) {
              <small class="text-danger">
                cantidad debe ser mayor o igual 1
              </small>
              }
            </td>
            <td>
              <input type="number" formControlName="price" />
              @if (validField('price')) {
              <small class="text-danger"> formato precio incorrecto </small>
              }
            </td>
            <td>
              <input type="number" formControlName="discount" placeholder="%" />
            </td>
            <td>
              <select formControlName="accountId">
                <option value="">--Seleccione--</option>
                @for (account of accounts(); track account.id) {
                <option [value]="account.id">
                  {{`${account.code} - ${account.name}`}}
                </option>
                }
              </select>
            </td>
            <td>
              <select formControlName="taxRate">
                @for (tax of taxRates; track tax.code) {
                <option [value]="tax.code">{{ tax.label }}</option>
                }
              </select>
            </td>
            <td>
              <ng-select
                [items]="sellers()"
                bindLabel="name"
                bindValue="uid"
                placeholder="--Seleccione--"
                formControlName="sellerUid"
                [searchable]="true"
              >
              </ng-select>
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                type="button"
                (click)="removeQuoteItem(i)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          @if (!quoteItems.value.length) {
          <tr class="no-elements">
            <td colspan="4">
              <small>
                No se ha añadido fila, presione "Agregar fila" para incluir
                algunos.
              </small>
            </td>
          </tr>
          }
          <!-- } @empty {
          <tr class="no-elements">
            <td colspan="4">
              <small>
                No se ha añadido fila, presione "Agregar fila" para incluir
                algunos.
              </small>
            </td>
          </tr>
          } -->
        </tbody>
      </table>
      <button
        class="btn btn-sm btn-outline-primary mt-2"
        type="button"
        (click)="addQuoteItem()"
      >
        <i class="fa fa-plus"></i> Agregar fila
      </button>
      <!-- End Quote Items as Rows -->

      <div class="row mt-4">
        <div class="col-md-6 offset-md-6">
          <ul class="list-group list-group-flush">
            <li class="total_price d-flex justify-content-between">
              <span>Subtotal</span>
              <span>{{ subtotal() | number : "1.2-2" }}</span>
            </li>
            <li class="total_price d-flex justify-content-between">
              <span>Descuento total</span>
              <span class="text-danger">
                - {{ totalDiscount() | number : "1.2-2" }}
              </span>
            </li>
            <li class="total_price d-flex justify-content-between">
              <span>Impuesto total</span>
              <span>{{ totalTax() | number : "1.2-2" }}</span>
            </li>
            <div class="line_divider"></div>
            <li class="total_price d-flex justify-content-between mt-3">
              <span><span>Total</span></span>
              <strong>
                {{ totalAmount() | number : "1.2-2" }}
              </strong>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="description">
            Términos <span class="muted">opcional</span>
          </label>
          <textarea class="w_100" formControlName="terms" rows="2"></textarea>
        </div>
      </div>

      <!-- Missing action buttons -->
      <div class="d-flex align-items-center mt-4">
        <submit-button
          (btnWasClicked)="onCustomSubmitBtnClicked($event)"
          [isFormSubmitting]="isFormSubmitting()"
          [buttonAction]="formNewQuoteService.saveAction"
          primaryText="Guardar"
          secondaryText="Guardando"
        ></submit-button>
        <div class="input-group ms-3">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="callToAction(formNewQuoteService.sendAction)"
          >
            @if (formNewQuoteService.isFormNewQuoteAndEmailSubmitting()) {
            <div class="d-flex align-items-center">
              Enviando
              <div class="spinner ms-2"></div>
            </div>
            } @else { Enviar }
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item cp"
                (click)="callToAction(formNewQuoteService.sendAction)"
              >
                Enviar
              </a>
            </li>
            <li>
              <a
                class="dropdown-item cp"
                (click)="callToAction(formNewQuoteService.markAsSentAction)"
              >
                Marcar como enviada
              </a>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
