.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;

  .breadcrumb_icon {
    color: var(--primary_orange);
    padding: 0rem 0.5rem 0rem 0.5rem;
    font-size: 1.2rem;
  }

  .breadcrumb_link {
    border-bottom: 1px solid var(--primary_orange);
    cursor: pointer;
    color: var(--primary_orange);
    font-size: 1.2rem;
  }
}
