<div class="custom_select">
  <input type="text" [formControl]="searchControl" />
  @if (items().length) {
  <ul class="suggestions">
    @for (suggestion of items(); track suggestion.name) {
    <li class="suggestion_item" (click)="selectItem(suggestion)">
      <div class="d-flex flex-column">
        <span class="suggestion_item_cabys">{{ suggestion.cabys }}</span>
        <span class="suggestion_item_name">{{ suggestion.shortName }}</span>
        <span class="suggestion_item_name_little">
          {{ suggestion.shortName }}
        </span>
      </div>
    </li>
    }
  </ul>
  }
</div>
